---
import Anchor from "../components/anchor.astro";
import Form from "../components/form.astro";
import GitHub from "../components/icons/GitHub.astro";
import NPM from "../components/icons/NPM.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/public/css/style.min.css" />
		<script type="module" src="/public/js/index.min.js"></script>
		<title>Searchable Select Web Component</title>
	</head>
	<body>
		<main>
			<div>
				<h1>Searchable Select Preview</h1>

				<Form />
			</div>
			<div class="anchors">
				<Anchor href="https://github.com/salvadorsru/searchable-select">
					<span slot="icon">
						<GitHub />
					</span>
					Go to GitHub
				</Anchor>

				<Anchor
					href="https://www.npmjs.com/package/@salvadorsru/searchable-select"
				>
					<span slot="icon">
						<NPM />
					</span>
					Go to NPM
				</Anchor>
			</div>

			<noscript>
				<style type="text/css">
					:root {
						--searchable-select-input-display: none;
						--searchable-select-position: relative;
						--searchable-select-pointer-events: auto;
						--searchable-select-opacity: 1;
					}
				</style>
			</noscript>
		</main>
	</body>
</html>

<style is:global>
	a {
		color: white;
	}
</style>

<style>
	* {
		box-sizing: border-box;
	}

	body {
		background-color: #121212;
		color: white;
		padding-inline: 20px;
	}

	:root {
		font-family:
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			"Segoe UI",
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			"Open Sans",
			"Helvetica Neue",
			sans-serif;
	}

	body {
		margin: 0;
		display: grid;
		justify-content: center;
		align-items: center;
		height: 100dvh;
	}

	h1 {
		font-size: 20px;
		text-align: center;
		margin-bottom: 3rem;
	}

	.anchors {
		display: flex;
		gap: 1rem 2.5rem;
		flex-wrap: wrap;
		margin-bottom: 1rem;
		align-items: center;
		margin-block: 2rem;
	}
</style>
