---
import "@/public/css/style.min.css";
---

<searchable-select>
    <input
        type="text"
        aria-label="Search countries"
        placeholder="Where are you from?"
    />
    <select name="countries" id="countries" required>
        <option value="argentina">Argentina</option>
        <option value="brazil">Brazil</option>
        <option value="canada">Canada</option>
        <option value="france">France</option>
        <option value="germany">Germany</option>
        <option value="japan">Japan</option>
        <option value="australia">Australia</option>
        <option value="china">China</option>
        <option value="india">India</option>
        <option value="italy">Italy</option>
        <option value="mexico">Mexico</option>
        <option value="new_zealand">New Zealand</option>
        <option value="south_africa">South Africa</option>
        <option value="spain">Spain</option>
        <option value="united_kingdom">United Kingdom</option>
        <option value="united_states">United States</option>
    </select>
</searchable-select>

<style>
    searchable-select {
        color: black;
    }
</style>

<script>
    import "@/public/js/index.min.js";
</script>
